<div class="container">
  <h2>Comment Detail</h2>
  <div *ngIf="categoryDetail?.categoryId">
    <p><strong>Category ID:</strong> {{ categoryDetail.categoryId }}</p>
    <label for="categoryName"><strong>CategoryName:</strong></label>
    <input type="categoryName" id="categoryName" [(ngModel)]="editedCategoryName" (input)="onChange()">
    <p><strong>Creation Date:</strong> {{ categoryDetail.creationDate}}</p>
    <button class="save-button" (click)="saveChanges()" [disabled]="!isChanged">Save Changes</button>
    <p><strong>Changes:</strong> {{ changes }}</p>
    <p id="changeStatus"><strong>{{ saveStatus }}</strong></p>
  </div>
</div>
